<?xml version='1.0' encoding='utf-8'?>
<widget id="com.albertoHrndz.juegoGato" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Gagarins</name>
    <description>
        Vence a la tiranía capitalista escuchando a los Gagarins
    </description>
    <author email="albertohm76@gmail.com">
    	Alberto Hernández
    </author>

    <preference name="fullscreen" value="true" />
    <preference name="orientation" value="landscape" />
    
    <plugin name="cordova-plugin-device-motion" />
    <plugin name="cordova-plugin-screen-orientation" />
 
    <platform name="android" />
    <content src="index.html" />
    <access origin="*" />
</widget>
